.App {
    text-align: center;
    background-color:#62c4ad;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
  }
  
  .voice--button{
    background-color: #09f62f;
    border: 3px solid black;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 60px;
    width: 60px;
    margin-top:6em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition: box-shadow .15s,transform .15s;
    font-size:large;
    touch-action: manipulation;  
    
  }

  .voice--button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .voice--button{
      box-shadow: 0.15em 0.15em 0.15em  rgb(8, 27, 26);
      
    }
  }
  .voice--send{
  /* //triangle button */
  position:relative;
  background-color:transparent;
  margin-top:6em;
  
  }
  .voice--container{
    color: white;
    width: 0px;
    height: 0px;
    border: 55px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(4 106 186);
    border-left-color: transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  .icon--voice{
    margin-top:1em;
  }
  .buttons--container{
    display:flex;
    overflow: visible;
  min-width:75%;
    justify-content:space-between;
  
  }
  .face {
    background-color: #bfffcb;
    min-width: 75%;
    min-height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px inset, rgba(0, 0, 0, 0.2) 0 0 10px 5px inset;
    border-radius: 20px;
  }
  
  .expression{
    font-size:15vw;
    width:fit-content;
    height:fit-content;}
  .input--and--button {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color:white;
  
    min-width:45%;
    align-items: center; /* add this to center the elements vertically */
  }
  
  .input--and--button input {
    flex: 1; /* add this to make the input element take up all available space */
  
    font-family: 'Press Start 2P', cursive;
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(22, 24, 27);
  border-radius: 4px;
  font-size: 13px;
  color: rgb(247, 248, 248);
  height: 46px;
  appearance: none;
  transition: border 0.15s ease 0s;
}
  .input--and--button button {
    margin-left: 1em; /* add some margin to the left of the button */
  }

  
  .send--text {
    border: solid black 3px;
    border-radius: 50%;
    background-color: indigo;
    color: black;
    padding: 1em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition: box-shadow .15s,transform .15s;
    font-size:large;
    touch-action: manipulation;  
  }
  
  .send--text:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .send--text{
      box-shadow: 0.15em 0.15em 0.15em  rgb(8, 27, 26);
      
    }
  }