.App {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  .input{
    font-family: 'Press Strt 2P', cursive;
  }
  .root{
    background-color:#62c4ad;
    height:100%;
    width:100%;
    display:flex;
  }
  
  body{
    background-color:#62c4ad;
    height:100vh;
    width:100vw;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  